{% extends "base.html" %}

{% block content %}
<h2 style="color:#00ff66; font-weight:700; text-align:center; margin-bottom:20px;">👤 Registrar Usuario</h2>

<form method="POST" action="/crear_usuario">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    
    <div class="mb-3">
        <label style="color:#90e0a0;">Nombre de usuario</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    
    <div class="mb-3">
        <label style="color:#90e0a0;">Nombre completo</label>
        <input type="text" name="nombre_completo" class="form-control">
    </div>
    
    <div class="mb-3">
        <label style="color:#90e0a0;">Contraseña</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    
    <div class="mb-3">
        <label style="color:#90e0a0;">Rol</label>
        <select name="rol" class="form-control">
            <option value="admin">Administrador</option>
            <option value="operador">Operador</option>
            <option value="basico">Básico</option>
        </select>
    </div>
    
    <button class="btn btn-primary w-100">Crear usuario</button>
</form>
{% endblock %}
